<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" > <i class="fa fa-map-marker fa-lg"></i> <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="clickDrawPolygon()"> <i class="fas fa-edit fa-lg"></i></a> 
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="clickMovePolygon()"> <i class="fas fa-plus-square"></i></a> 
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> <i class="fas fa-minus-square"></i></a> 
        </li>  
        <li class="nav-item">
          <a class="nav-link" href="#"> <i class="fas fa-arrows-alt"></i></a> 
        </li>  
        <li class="nav-item">
          <a class="nav-link" href="#" ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." placement="bottom" > <i class="fas fa-question"></i></a> 
        </li>  

      </ul>
        <input places-auto-complete (initialized$)="initialized($event)" (place_changed) ="placeChanged(place)" [types]="['geocode']" 
               class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </div>
  </nav>

<ngui-map #gmap zoom="12" disableDefaultUI="true" [center]="mapProps.center" mapTypeId="satellite" >
      <drawing-manager
        [drawingMode]="mapProps.drawingMode"
        [drawingControl]="false"
        [drawingControlOptions]="{
          drawingModes: ['']
        }"
        >
      </drawing-manager>
</ngui-map>
