<app-navbar></app-navbar>


<!-- address: {{address | json}} -->

<div class="row">
    <div class="col-xl-5 text-xs-center ml-2">
        <div class="card card-default">
            <div class="card-body">
                <app-property-area> </app-property-area>
            </div>
        </div>
    </div>
    <div class="col-xl-6 text-xs-center mr-1">
        <div class="card card-default">
            <div class="card-body">
                <app-gmaps></app-gmaps>
            </div>
        </div>
    </div>
</div>