<!-- Template for confirme remove property modal -->
<ng-template #removePropertyModal>
    <div class="modal-header">
        <h4> Tem certeza que deseja remover a propriedade ? </h4>
    </div>
    <div class="modal-body">
        <button class="btn btn-secondary mr-3" (click)="activeModal.close(true)">Excluir Propriedade</button>
    </div>
    <div class="modal-footer">
    </div>
</ng-template>

<!-- Template for when click in sampling points -->
<ng-template #modalContent let-close="close">
    <div class="modal-header">
        <h4 class="text-center">Relatório de recomendação</h4>
    </div>
    <div class="modal-body">
        <app-point-form [currentReport]="selectedReport" (techReportForm)="receiverTechReportForm($event)"></app-point-form>
    </div>
</ng-template>


<div class="row">
    <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-6 text-xs-center">

        <div class="card card-default" *ngxPermissionsOnly="['administrador']">
            <div class="card-header">
                Tecnico Responsável
            </div>
            <div class="card-body" *ngIf="!property.tecnicoId">
                <div>
                    <select (change)="ChangeValue($event)" (ngModel)="technician">
                        <option *ngFor="let technician of technicians" [value]="technician.id"> {{technician.nome}}</option>
                    </select>
                    <input class="btn btn-secondary ml-3" type="button" value="Cadastrar tecnico na propriedade" (click)="registerTechToProperty()">
                </div>
            </div>

            <div class="card-body" *ngIf="property.tecnicoId">
                <div>
                    <p> {{selectedTechnician}}</p>
                </div>
            </div>

        </div>

        <div class="card card-default">
            <div class="card-header">
                Areas da propriedade
            </div>
            <div class="card-body">
                <div class="card-deck">
                    <div *ngFor="let areas of areas" class="col-5 card">
                        <div class="card-body">
                            <h6> {{areas.nome}} </h6>
                            <p>
                                <span class="small-5 float-left"> {{areas.areaTotal}} ha </span>
                                <span class="small-7 float-right">{{areas.plantio}}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngxPermissionsOnly="'produtor'">
            <br>
            <h6> Ações </h6>
            <input class="btn btn-primary mr-2" (click)="onEditPropertyClick()" value="Editar Propriedade" />
            <input class="btn btn-secondary" (click)="onRemoveProperty(removePropertyModal)" value="Excluir Propriedade" />
        </div>
        <br>
        <br>
        <br>
        <div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#analises">Análises</a>
                </li>
                <li class="nav-item" *ngxPermissionsOnly="'produtor'">
                    <a class="nav-link" data-toggle="tab" href="#novaAnalise">Nova Análise</a>
                </li>
            </ul>
        </div>
        <div class="container-fluid">
            <div class="tab-content">
                <div id="analises" class="tab-pane fade show active">
                    <br>
                    <app-calendar [analyses]="{trackBy: analyses.length, analyses: analyses}" (selectedAnalysis)="requestDrawAnalysis($event)"></app-calendar>
                    <br>
                </div>
                <div id="novaAnalise" class="tab-pane fade ">
                    <h5 align="center"> Análises disponíveis </h5>
                    <p align="center">Escolha as análises do seu interesse </p>
                    <div class="row mt-4 d-flex justify-content-center">
                        <div class="btn-group btn-group-toggle">
                            <label class="btn btn-primary" [class.active]="checkBoxBtn.NDVI">
                                <input type="checkbox" [(ngModel)]="checkBoxBtn.NDVI"> Mapa de produção
                            </label>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="btn-group btn-group-toggle">
                            <label class="btn btn-danger" [class.active]="checkBoxBtn.NDWI">
                                <input type="checkbox" [(ngModel)]="checkBoxBtn.NDWI" autocomplete="off"> Indice de biomassa
                            </label>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="btn-group btn-group-toggle">
                            <label class="btn btn-success" [class.active]="checkBoxBtn.Produtividade">
                                <input type="checkbox" [(ngModel)]="checkBoxBtn.Produtividade" autocomplete="off"> Previsão de produtividade
                            </label>
                        </div>
                    </div>

                    <input class="btn btn-secondary" (click)="onRequestAnalysisClick()" value="Confirmar" />
                </div>
            </div>
        </div>

    </div>
    <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-6 text-xs-center">
        <div class="card card-default">
            <div class="card-body">

                <nav class="navbar navbar-expand-sm navbar-light bg-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent2">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" (click)="clickInitLocation()">
                                    <i class="fas fa-home"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" (click)="clickZoomIn()">
                                    <i class="fas fa-plus-square"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" (click)="clickZoomOut()">
                                    <i class="fas fa-minus-square"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." placement="bottom">
                                    <i class="fas fa-question"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="navbar-nav ml-auto">
                            <li class="nav-item" *ngIf="drawnPoints && requestedAnalysis">
                                <a class="nav-link" (click)="clearSamplingPoints()">
                                    <i class="fas fa-eye"></i>
                                </a>
                            </li>
                            <li class="nav-item" *ngIf="!drawnPoints && requestedAnalysis">
                                <a class="nav-link" (click)="requestSamplingPoints()">
                                    <i class="fas fa-eye-slash"></i>
                                </a>
                            </li>
                        </div>


                    </div>
                </nav>

                <ngui-map zoom="{{mapProps.zoom}}" style="height: 600px" disableDefaultUI="true" [center]="mapProps.center" mapTypeId="satellite"
                    (mapReady$)="onMapReady($event)">
                    <data-layer>
                    </data-layer>
                </ngui-map>
            </div>
        </div>
    </div>


</div>