<app-navbar></app-navbar>

  <div class="row">
   
    <div class="col-xl-6 text-xs-center">
        <div class="card card-default">
            <div class="card-header">
                Areas da propriedade
            </div>
            <div class="card-body">
                <div class="card-deck">
                    <div *ngFor="let areas of property.AreasOverlay" class="col-5 card">
                        <div class="card-body">
                            <h6> {{areas.AreaName}} </h6>
                            <p> <span class="small-5 float-left"> {{areas.Area}} ha  </span>
                                <span class="small-7 float-right">{{areas.HarvestType}}</span>   </p>
                        </div>
                    </div>
                </div>               
            </div>
        </div>
        
        <div *ngxPermissionsOnly="'ADMIN'">
            <br>
            <h6> Ações </h6>
            <input class="btn btn-primary mr-2" (click)="onEditPropertyClick()" value="Editar Propriedade" />
            <input class="btn btn-secondary" (click)="onRemoveProperty()" value="Excluir Propriedade" />
        </div>
        
    </div>
    <div class="col-xl-6 text-xs-center">
        <div class="card card-default">
            <div class="card-body">
                <ngui-map zoom="{{mapProps.zoom}}"  style="height: 400px"  disableDefaultUI="true" [center]="mapProps.center"  mapTypeId="satellite" (mapReady$)="onMapReady($event)">
                    <data-layer >
                    </data-layer>                          
                </ngui-map>  
            </div>
        </div>
    </div>
  </div>