<div class="row">
    <div class="col-xl-12 text-xs-center">
        <div class="card mb-3">
            <div class="card-body">
                    <ul> 
                        <li *ngFor="let property of propeties; let i = index" (click)="selectProperty(property.PropertyName)"> 
                            {{ i + 1 }} - {{ property.PropertyName }} 
                        </li>
                    </ul>
            </div>
        </div>
    </div>
</div>

<!-- <div class="row">
    <div class="col-xl-12 text-xs-center">
        <div class="card mb-3">
            <div class="card-body">
                .col-xl-12
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12 text-xs-center">
        <div class="card mb-3">
            <div class="card-body">
                .col-xl-12
            </div>
        </div>
    </div>
</div> -->