
<div class="row"> 
    <div class="col-lg-6">
      <fieldset class="form-group">
          <label>Nome da propriedade (*)</label>
          <input class="form-control" placeholder="Informe o nome da propriedade">
      </fieldset>

      <div class="form-group">
          <label>Tipo de plantio</label>
          <select class="form-control">
              <option>Soja</option>
              <option>Milho</option>
              <option>Cana de açucar</option>              
          </select>
      </div>

      <div class="form-group">
          <label> Data da última colheita </label>             
          <div class="input-group datepicker-input">
              <input class="form-control" placeholder="yyyy-mm-dd"
                  name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
              <button class="input-group-addon" (click)="d.toggle()" type="button">
                  <span class="fa fa-calendar"></span>
              </button>
          </div>
      </div>

      <fieldset class="form-group">
          <label>Area [ha] </label>
          <input class="form-control" readonly="true" [(ngModel)]="area">
      </fieldset>

      <button type="submit" class="btn btn-secondary mr-3">Submit</button>
      <button type="submit" class="btn btn-secondary" (click)="deleteSelectedOverlay()" >Cancel</button>

      <div class="row mt-4" >
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary" [class.active]="checkBoxBtn.NDVI">
              <input type="checkbox" [(ngModel)]="checkBoxBtn.NDVI" autocomplete="off"> NDVI
            </label>
          </div>
      </div>
      <div class="row">
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-secondary " [class.active]="checkBoxBtn.NDWI">
              <input type="checkbox" [(ngModel)]="checkBoxBtn.NDWI" autocomplete="off"> NDWI
            </label>
          </div>
      </div>
      <div class="row">
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-success " [class.active]="checkBoxBtn.Produtividade">
              <input type="checkbox" [(ngModel)]="checkBoxBtn.Produtividade" autocomplete="off"> Produtividade
            </label>
          </div>
      </div>
      <div class="row">
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-danger ">
              <input type="checkbox" autocomplete="off"> ?????
            </label>
          </div>
      </div>
    </div>
</div>
