
<div class="row"> 

    <div class="col-lg-12"> 
        <!-- Login Form -->
        <form [formGroup]="form" (submit)="addProperty()">
           
             <!-- Property Name Field -->
             <div class="form-group">  
                <label> Nome da fazenda (*)</label>    
                <div [ngClass]="{'has-error': form.controls.propertyName.errors && form.controls.propertyName.dirty, 'has-success': form.controls.propertyName.valid && form.controls.propertyName.dirty }">
                    <input class="form-control input-underline input-lg" type="text" placeholder="Informe o nome da propriedade" name="propertyName" formControlName="propertyName" />
                    <!-- Validation -->
                    <ul class="help-block">
                        <li *ngIf="form.controls.propertyName.errors?.required && form.controls.propertyName.dirty">This field is required.</li>
                    </ul>
                </div>
            </div>

            <!-- Area Name Field -->
            <div class="form-group">  
                <label> Nome da área (*)</label>    
                <div [ngClass]="{'has-error': form.controls.areaName.errors && form.controls.areaName.dirty, 'has-success': form.controls.areaName.valid && form.controls.areaName.dirty }">
                    <input class="form-control input-underline input-lg" type="text" placeholder="" name="username" formControlName="areaName" />
                    <!-- Validation -->
                    <ul class="help-block">
                        <li *ngIf="form.controls.areaName.errors?.required && form.controls.areaName.dirty">This field is required.</li>
                    </ul>
                </div>
            </div>

             <!-- havestType Field  -->
            <div class="form-group">
                <label> Tipo de cultura (*) </label>
                <div [ngClass]="{'has-error': form.controls.havestType.errors && form.controls.havestType.dirty, 'has-success': form.controls.havestType.valid && form.controls.havestType.dirty }">
                <select class="form-control input-underline input-lg" name="havestType" formControlName="havestType" >
                        <option>Soja</option>
                        <option>Milho</option>
                        <option>Cana de açucar</option>  
                </select>               
                <!-- Validation -->
                <ul class="help-block">
                    <li *ngIf="form.controls.havestType.errors?.required && form.controls.havestType.dirty">This field is required.</li>
                </ul>
                </div>
            </div>   

            <!-- Data Field -->
            <div class="form-group">
                <label> Data da última colheita </label>      
                <div [ngClass]="{'has-error': form.controls.date.errors && form.controls.date.dirty, 'has-success': form.controls.date.valid && form.controls.date.dirty }">
                    <div class="input-group datepicker-input"> 
                        <input class="form-control" name="dp" ngbDatepicker #d="ngbDatepicker" placeholder="yyyy-mm-dd" name="date" formControlName="date" />
                        <button class="input-group-addon" (click)="d.toggle()" type="button">
                            <span class="fa fa-calendar"></span>
                        </button>                        
                    </div>
                </div>
            </div>

            <!-- Area Field -->
            <div class="form-group">   
                <label>Area [ha]</label>   
                <input class="form-control input-underline input-lg"  readonly="true" type="text" name="propertyArea" formControlName="propertyArea" />
                <!-- Validation -->
                <ul class="help-block">
                    <li *ngIf="form.controls.propertyArea.errors?.required && form.controls.propertyArea?.dirty">This field is required.</li>
                </ul>
            </div>

            <input [disabled]="!form.valid || processing" class="btn btn-primary mr-2" type="submit" value="Adicionar" />
            <input class="btn btn-secondary mr-2" type="reset" (click)="onResetClick()" value="Cancelar" />
            <input class="btn btn-secondary" (click)="registerProperty()" value="Registrar" />

        </form>
        
        
    </div>




<!--     
    <div class="col-lg-12">
      <fieldset class="form-group">
          <label>Nome da propriedade (*)</label>
          <input class="form-control" placeholder="Informe o nome da propriedade">
          
      </fieldset>

      <div class="form-group">
          <label>Tipo de plantio</label>
          <select class="form-control">
              <option>Soja</option>
              <option>Milho</option>
              <option>Cana de açucar</option>              
          </select>
      </div>

      <div class="form-group">
          <label> Data da última colheita </label>             
          <div class="input-group datepicker-input">
              <input class="form-control" placeholder="yyyy-mm-dd"
                  name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
              <button class="input-group-addon" (click)="d.toggle()" type="button">
                  <span class="fa fa-calendar"></span>
              </button>
          </div>
      </div>

      <fieldset class="form-group">
          <label>Area [ha] </label>
          <input class="form-control" readonly="true" [(ngModel)]="area">
      </fieldset>

      <button type="submit" class="btn btn-secondary mr-3">Submit</button>
      <button type="submit" class="btn btn-secondary" (click)="deleteSelectedOverlay()" >Cancel</button>

      <div class="row mt-4" >
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary" [class.active]="checkBoxBtn.NDVI">
              <input type="checkbox" [(ngModel)]="checkBoxBtn.NDVI" autocomplete="off"> NDVI
            </label>
          </div>
      </div>
      <div class="row">
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-secondary " [class.active]="checkBoxBtn.NDWI">
              <input type="checkbox" [(ngModel)]="checkBoxBtn.NDWI" autocomplete="off"> NDWI
            </label>
          </div>
      </div>
      <div class="row">
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-success " [class.active]="checkBoxBtn.Produtividade">
              <input type="checkbox" [(ngModel)]="checkBoxBtn.Produtividade" autocomplete="off"> Produtividade
            </label>
          </div>
      </div>
      <div class="row">
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-danger ">
              <input type="checkbox" autocomplete="off"> ?????
            </label>
          </div>
      </div>
    </div> -->
</div>
