<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">

<!-- <app-navbar></app-navbar> -->

<div class="row">
    <div class="col-12 col-xl-5 col-lg-5 col-md-5 col-sm-5 text-xs-center">
        <div class="card card-default">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Login Form -->
                        <form [formGroup]="form" (submit)="onAddPropertyClick()">

                            <!-- Property Name Field -->
                            <div class="form-group">
                                <label> Nome da fazenda (*)</label>
                                <div [ngClass]="{'has-error': form.controls.propertyName.errors && form.controls.propertyName.dirty, 'has-success': form.controls.propertyName.valid && form.controls.propertyName.dirty }">
                                    <input class="form-control input-underline input-lg" type="text" placeholder="Informe o nome da propriedade" name="propertyName"
                                        formControlName="propertyName" />
                                    <!-- Validation -->
                                    <ul class="help-block">
                                        <li *ngIf="form.controls.propertyName.errors?.required && form.controls.propertyName.dirty">Este campo é obrigatório.</li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Area Name Field -->
                            <div class="form-group">
                                <label> Nome da área (*)</label>
                                <div [ngClass]="{'has-error': form.controls.areaName.errors && form.controls.areaName.dirty, 'has-success': form.controls.areaName.valid && form.controls.areaName.dirty }">
                                    <input class="form-control input-underline input-lg" type="text" placeholder="" name="username" formControlName="areaName"
                                    />
                                    <!-- Validation -->
                                    <ul class="help-block">
                                        <li *ngIf="form.controls.areaName.errors?.required && form.controls.areaName.dirty">Este campo é obrigatório.</li>
                                    </ul>
                                </div>
                            </div>

                            <!-- havestType Field  -->
                            <div class="form-group">
                                <label> Tipo de cultura (*) </label>
                                <div [ngClass]="{'has-error': form.controls.havestType.errors && form.controls.havestType.dirty, 'has-success': form.controls.havestType.valid && form.controls.havestType.dirty }">
                                    <select class="form-control input-underline input-lg" name="havestType" formControlName="havestType">
                                        <option>Soja</option>
                                        <option>Milho</option>
                                        <option>Cana de açucar</option>
                                    </select>
                                    <!-- Validation -->
                                    <ul class="help-block">
                                        <li *ngIf="form.controls.havestType.errors?.required && form.controls.havestType.dirty">Este campo é obrigatório.</li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Data Field -->
                            <!-- <div class="form-group">
                                <label> Data da última colheita </label>
                                <div [ngClass]="{'has-error': form.controls.date.errors && form.controls.date.dirty, 'has-success': form.controls.date.valid && form.controls.date.dirty }">
                                    <div class="input-group datepicker-input">
                                        <input class="form-control" name="dp" ngbDatepicker #d="ngbDatepicker" name="date" formControlName="date"
                                        />
                                        <button class="input-group-addon" (click)="d.toggle()" type="button">
                                            <span class="fa fa-calendar"></span>
                                        </button>
                                    </div>
                                </div>
                            </div> -->

                            <!-- Area Field -->
                            <div class="form-group">
                                <label>Area [ha]</label>
                                <input class="form-control input-underline input-lg" readonly="true" type="text" name="propertyArea" formControlName="propertyArea"
                                />
                                <!-- Validation -->
                                <ul class="help-block">
                                    <li *ngIf="form.controls.propertyArea.errors?.required && form.controls.propertyArea?.dirty">Este campo é obrigatório.</li>
                                </ul>
                            </div>

                            <input [disabled]="!form.valid || processingAdd" class="btn btn-primary mr-2" type="submit" value="Adicionar" />
                            <input [disabled]="processingCancel" class="btn btn-secondary mr-2" type="reset" (click)="onResetClick()" value="Cancelar"
                            />
                            <input class="btn btn-secondary" (click)="onRegisterPropertyClick()" value="Confirmar" />

                            <!-- Custom Success/Error Message -->
                            <div class="row show-hide-message">
                                <div [ngClass]="messageClass">
                                    {{ message }}
                                </div>
                            </div>
                        </form>
                        <br>

                        <div class="col-lg-12">
                            <div class="row" *ngIf="property">                               
                                <div *ngFor="let area of areas" class="col-4 card">
                                    <div class="card-block">
                                        <a (click)="onRemoveOverlayClick(area)">
                                            <i class="far fa-times-circle"></i>
                                        </a>
                                        <button type="button" (click)="onEditAreaClick(area)" class="btn btn-secondary">{{area.nome}}</button>
                                        
                                    </div>
                                </div>                                
                            </div>
                        </div>
                        
                        <hr>
                        <h5 align="center"> Análises disponíveis </h5>
                        <p align="center">Escolha as análises do seu interesse </p> 
                        <div class="row mt-4 d-flex justify-content-center">
                            <div class="btn-group " data-toggle="buttons">
                                <label class="btn btn-primary " [class.active]="checkBoxBtn.NDVI">
                                    <input type="checkbox" [(ngModel)]="checkBoxBtn.NDVI" autocomplete="off"> Mapa de produção
                                </label>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-danger " [class.active]="checkBoxBtn.NDWI">
                                    <input type="checkbox" [(ngModel)]="checkBoxBtn.NDWI" autocomplete="off"> Indice de biomassa
                                </label>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-success " [class.active]="checkBoxBtn.Produtividade">
                                    <input type="checkbox" [(ngModel)]="checkBoxBtn.Produtividade" autocomplete="off"> Previsão de produtividade
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- MAP DIV -->
    <div class="col-12 col-xl-7 col-lg-7 col-md-7 col-sm-7 text-xs-center">
        <div class="card card-default">
            <div class="card-body">
                <nav class="navbar navbar-expand-sm navbar-light bg-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent2">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" (click)="openCoordsModal(coordsModal)">
                                    <i class="fa fa-map-marker fa-lg"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" (click)="clickDrawPolygon()">
                                    <i class="fas fa-edit fa-lg"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" (click)="clickZoomIn()">
                                    <i class="fas fa-plus-square"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" (click)="clickZoomOut()">
                                    <i class="fas fa-minus-square"></i>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." placement="bottom">
                                    <i class="fas fa-question"></i>
                                </a>
                            </li>

                        </ul>
                        <input places-auto-complete (initialized$)="initialized($event)" (place_changed)="placeChanged()" [types]="['geocode']"
                            class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </div>
                </nav>

                <div class="div-wrapper">
                    <ngui-map zoom="{{mapProps.zoom}}" style="height: 400px" disableDefaultUI="true" [center]="mapProps.center" mapTypeId="satellite"
                        (mapReady$)="onMapReady($event)">

                        <data-layer>
                        </data-layer>

                        <drawing-manager [drawingMode]="mapProps.drawingMode" [drawingControl]="false" [drawingControlOptions]="{drawingModes: ['']}"
                                         [polygonOptions]="{strokeWeight: 0, fillOpacity: 0.45, editable: true}">
                        </drawing-manager>

                    </ngui-map>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Template for localization modal -->
<ng-template #coordsModal>
    <div class="modal-header">
        <h4> Insira as coordenadas geográficas </h4>
    </div>
    <div class="modal-body">
        <fieldset class="form-group">
            <label>Latitude</label>
            <input class="form-control" [(ngModel)]="coordinate.latitude" placeholder="Informe a latitude da propriedade">
        </fieldset>
        <fieldset class="form-group">
            <label>Longitude</label>
            <input class="form-control" [(ngModel)]="coordinate.longitude" placeholder="Informe a longitude da propriedade">
        </fieldset>

        <button class="btn btn-secondary mr-3" (click)="locate()">Localizar</button>

    </div>
    <div class="modal-footer">
    </div>
</ng-template>