<app-navbar></app-navbar>

<div class="row">
    <div class="col-xl-5 text-xs-center">
        <div class="card card-default">
            <div class="card-body">
                <app-property-area [prop]="property"> </app-property-area>
            </div>
        </div>
    </div>
    <div class="col-xl-6 text-xs-center ml-auto">
        <div class="card card-default">
            <div class="card-body">
                <app-gmaps></app-gmaps>
            </div>
        </div>
    </div>
</div>