:host .navbar {
    background-color: #222;
    border-bottom:5px solid #000;
}
:host .navbar .navbar-brand {
    color: #fff;
}
:host .navbar .nav-item > a {
    color: rgb(0, 0, 0);
}

:host .navbar .nav-item > a:hover {
    color: rgb(116, 116, 116);
    border-bottom: 3px solid rgb(45, 141, 16);
}

a.nav-link.active {
    border-bottom: 3px solid rgb(45, 141, 16);
}

:host .messages {
    width: 300px;
}

.dropdown-menu-right {
    right: 0 !important;
    left: auto !important;
}
