
<div>

  <h1>Mudar Senha</h1>

  <!-- Custom Success/Error Message -->
  <div class="row show-hide-message">
    <div [ngClass]="messageClass">
      {{ message }}
    </div>
  </div>

<!-- Login Form -->
<form [formGroup]="form" (submit)="onRegisterSubmit()">

   <!-- email Field -->
  <div class="form-group">      
    <div [ngClass]="{'has-error': form.controls.email.errors && form.controls.email.dirty, 'has-success': form.controls.email.valid && form.controls.email.dirty }">
      <input class="form-control input-underline input-lg" type="text" placeholder="E-mail" name="email" formControlName="email" />
      <!-- Validation -->
      <ul class="help-block">
        <li *ngIf="form.controls.email.errors?.required && form.controls.email.dirty">Este campo é obrigatório.</li>
      </ul>
    </div>
  </div>

  <!-- First Password Field  -->
  <div class="form-group">
    <div [ngClass]="{'has-error': form.controls.senha1.errors && form.controls.senha1.dirty, 'has-success': form.controls.senha1.valid && form.controls.senha1.dirty }">
      <input class="form-control input-underline input-lg" type="password" placeholder="Informe a senha" name="senha1" formControlName="senha1" />
      <!-- Validation -->
      <ul class="help-block">
        <li *ngIf="form.controls.senha1.errors?.required && form.controls.senha1.dirty">Este campo é obrigatório.</li>
      </ul>
    </div>
  </div>

  <!-- Second Password Field  -->
  <div class="form-group">
    <div [ngClass]="{'has-error': form.controls.senha2.errors && form.controls.senha2.dirty, 'has-success': form.controls.senha2.valid && form.controls.senha2.dirty }">
      <input class="form-control input-underline input-lg" type="password" placeholder="Confirme a senha" name="senha2" formControlName="senha2" />
      <!-- Validation -->
      <ul class="help-block">
        <li *ngIf="form.controls.senha2.errors?.required && form.controls.senha2.dirty">Este campo é obrigatório.</li>
      </ul>
    </div>
  </div>

  <!-- Submit Button -->
  <input [disabled]="!form.valid || processing" class="btn btn-primary" type="submit" value="Mudar Senha" />

</form>

</div>