  <div class = "container">
    <ngui-map #gmap zoom="8"       [center]="mapProps.center"    >
      <drawing-manager
        [drawingMode]="'polygon'"
        [drawingControl]="true"
        [drawingControlOptions]="{
          position: 2,
          drawingModes: ['circle', 'polygon', 'polyline', 'rectangle']
        }"
        [circleOptions]="{
          fillColor: '#ffff00',
          fillOpacity: 1,
          strokeWeight: 5,
          editable: true,
          zIndex: 1
        }">
      </drawing-manager>
    </ngui-map>
    
    selectedOverlay: {{selectedOverlay}} <br/>
    <p> Area: {{areaText}} <br/>
    <button (click)="deleteSelectedOverlay()">Delete Selected Overlay</button>
</div>


<h1>Place Autocomplete Address Form</h1>
<input places-auto-complete (initialized$)="initialized($event)" (place_changed)="placeChanged(place)" [types]="['geocode']"/>
<br/> 
address: {{address | json}}

<p>
  <a routerLink = "/login">Login</a> 
</p>